# Pandas Data Structures

*1. Series 2. DataFrame 3.Panel*

**Series**

In [1]:
# empty series

import pandas as pd
import numpy as np

a = pd.Series()
print(a)

Series([], dtype: float64)

C:\Users\malik bros\AppData\Local\Temp\ipykernel_15004\3144726892.py:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a = pd.Series()

In [2]:
# with ndarray

a = np.array([1,2,34,33])
Sers = pd.Series(a)
print(Sers)

0     1
1     2
2    34
3    33
dtype: int32

In [3]:
# we can set index of our own desire, above it was default

s = pd.Series(a,index=[100,101,102,103])
print(s)

100     1
101     2
102    34
103    33
dtype: int32

In [4]:
# with dictionary

dic = {'a':1,'b':2,'c':3}
s = pd.Series(dic)
print(s)

a    1
b    2
c    3
dtype: int64

In [5]:
#less data more index

s = pd.Series(dic,index=['b','c','d','a'])
print(s)

b    2.0
c    3.0
d    NaN
a    1.0
dtype: float64

In [6]:
#with scaler

s = pd.Series(5,index=[0,1,2,3])
print(s)

0    5
1    5
2    5
3    5
dtype: int64

In [7]:
#access data from series

s = pd.Series([1,2,3,5],index=['a','b','c','d'])
print(s)
print('\n')
print(s[2])

a    1
b    2
c    3
d    5
dtype: int64


3

In [8]:
#first two

print(s[:2])

a    1
b    2
dtype: int64

In [9]:
#last two

print(s[-2:])

c    3
d    5
dtype: int64

In [10]:
#retrieve data using label index

print(s['a'])

1

In [11]:
print(s[['a','c']])

a    1
c    3
dtype: int64

**Pandas DataFrame**

In [12]:
#empty df

df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [13]:
#from lists

a = [1,2,34,5,6]
df = pd.DataFrame(a)
print(df)

    0
0   1
1   2
2  34
3   5
4   6

In [14]:
data = [('Ali',10),('Umer',12),('Ahmad',22)]
df = pd.DataFrame(data,columns=['NAME','AGE'],dtype=float)
print(df)

    NAME   AGE
0    Ali  10.0
1   Umer  12.0
2  Ahmad  22.0

C:\Users\malik bros\AppData\Local\Temp\ipykernel_15004\346554160.py:2: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df = pd.DataFrame(data,columns=['NAME','AGE'],dtype=float)

In [15]:
#from dict

data = {'NAME':['Ali','Ahmad','Umer'],'AGE':[10,12,33]}
df = pd.DataFrame(data,index=['Rank1','Rank2','Rank3'])
print(df)

        NAME  AGE
Rank1    Ali   10
Rank2  Ahmad   12
Rank3   Umer   33

In [16]:
#from list of dict

data = [{"a":1,'b':2},{'a':2,'b':4,'c':33}]
df = pd.DataFrame(data,index=['1st','2nd'])
print(df)

     a  b     c
1st  1  2   NaN
2nd  2  4  33.0

In [17]:
#from dict of series

data = {'one':pd.Series([1,2,3,4],index=['a','b','c','d']),'two': pd.Series([3,5,6],index=['a','b','c'])}
df = pd.DataFrame(data)
print(df)

   one  two
a    1  3.0
b    2  5.0
c    3  6.0
d    4  NaN

In [18]:
#column selection

print(df['one'])

a    1
b    2
c    3
d    4
Name: one, dtype: int64

In [19]:
#column addition

df['three'] = pd.Series([11,23,44,5],index=['a','b','c','d'])
print(df)

   one  two  three
a    1  3.0     11
b    2  5.0     23
c    3  6.0     44
d    4  NaN      5

In [20]:
#col deletion

del df['two']
print(df)

   one  three
a    1     11
b    2     23
c    3     44
d    4      5

In [21]:
#deletion using pop

df.pop('one')
print(df)

   three
a     11
b     23
c     44
d      5

In [22]:
#row selection using label

data = {'one':pd.Series([1,2,3,4],index=['a','b','c','d']),'two': pd.Series([3,5,6],index=['a','b','c'])}
df = pd.DataFrame(data)
print(df)
print(df.loc['b'])

   one  two
a    1  3.0
b    2  5.0
c    3  6.0
d    4  NaN
one    2.0
two    5.0
Name: b, dtype: float64

In [23]:
#using index

print(df.iloc[2])

one    3.0
two    6.0
Name: c, dtype: float64

In [24]:
#more than one row u

print(df.iloc[2:4])

   one  two
c    3  6.0
d    4  NaN

In [25]:
# addition of row

df1 = pd.DataFrame([[40,44]],columns=['one','two'] ,index=['e'])
df = df.append(df1)
print(df)

   one   two
a    1   3.0
b    2   5.0
c    3   6.0
d    4   NaN
e   40  44.0

C:\Users\malik bros\AppData\Local\Temp\ipykernel_15004\1511040503.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df1)

In [26]:
#deletion row

print(df)
df = df.drop(['e'])
print(df)

   one   two
a    1   3.0
b    2   5.0
c    3   6.0
d    4   NaN
e   40  44.0
   one  two
a    1  3.0
b    2  5.0
c    3  6.0
d    4  NaN

# pandas Basic functionalirty

**Series basic functionality**

In [27]:
import pandas as pd
import numpy as np

In [28]:
s = pd.Series(np.random.rand(4))
print(s)

0    0.599389
1    0.582014
2    0.944255
3    0.373864
dtype: float64

In [29]:
# axes

print(s.axes)

[RangeIndex(start=0, stop=4, step=1)]

In [30]:
# empty

print(s.empty)

False

In [31]:
#ndim

print(s.ndim)

1

In [32]:
#size

print(s.size)

4

In [33]:
#values

print(s.values)

[0.59938864 0.58201362 0.94425468 0.3738635 ]

In [34]:
#head

print(s.head(2))

0    0.599389
1    0.582014
dtype: float64

In [35]:
#tail

print(s.tail(2))

2    0.944255
3    0.373864
dtype: float64

**DataFrame basic functionality**

In [36]:
data = {'one':pd.Series([1,2,3,4],index=['a','b','c','d']),'two': pd.Series([3,5,6],index=['a','b','c'])}
df = pd.DataFrame(data)
print(df)

   one  two
a    1  3.0
b    2  5.0
c    3  6.0
d    4  NaN

In [37]:
#T

print(df.T)

       a    b    c    d
one  1.0  2.0  3.0  4.0
two  3.0  5.0  6.0  NaN

In [38]:
#axes

print(df.axes)

[Index(['a', 'b', 'c', 'd'], dtype='object'), Index(['one', 'two'], dtype='object')]

In [39]:
#dtype

print(df.dtypes)

one      int64
two    float64
dtype: object

In [40]:
#empty

print(df.empty)

False

In [41]:
#ndim

print(df.ndim)

2

In [42]:
#shape

print(df.shape)

(4, 2)

In [43]:
#size

print(df.size)

8

In [44]:
#values

print(df.values)

[[ 1.  3.]
 [ 2.  5.]
 [ 3.  6.]
 [ 4. nan]]

In [45]:
# head,tail

print(df.head(2))
print(df.tail(2))

   one  two
a    1  3.0
b    2  5.0
   one  two
c    3  6.0
d    4  NaN

# Descriptive Statistics

In [46]:
d = {'NAME':['ali','umer','usman','ahmad','hassan','adil','arslan','hazma','zain'],
    'AGE':[12,34,13,15,16,23,26,22,16],'RATING':[22.3,44.2,3.3,44.3,44.5,5.2,23.5,20,56]}
df = pd.DataFrame(d)
print(df)

     NAME  AGE  RATING
0     ali   12    22.3
1    umer   34    44.2
2   usman   13     3.3
3   ahmad   15    44.3
4  hassan   16    44.5
5    adil   23     5.2
6  arslan   26    23.5
7   hazma   22    20.0
8    zain   16    56.0

In [47]:
#sum

print(df.sum())

NAME      aliumerusmanahmadhassanadilarslanhazmazain
AGE                                              177
RATING                                         263.3
dtype: object

In [48]:
#col sum

print(df.sum(1))

0    34.3
1    78.2
2    16.3
3    59.3
4    60.5
5    28.2
6    49.5
7    42.0
8    72.0
dtype: float64

C:\Users\malik bros\AppData\Local\Temp\ipykernel_15004\1741035731.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.sum(1))

In [49]:
#mean
print(df.mean())

AGE       19.666667
RATING    29.255556
dtype: float64

C:\Users\malik bros\AppData\Local\Temp\ipykernel_15004\4110975546.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.mean())

In [50]:
#std
print(df.std())

AGE        7.193747
RATING    18.764535
dtype: float64

C:\Users\malik bros\AppData\Local\Temp\ipykernel_15004\2312206230.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.std())

In [51]:
# describe

print(df.describe())

             AGE     RATING
count   9.000000   9.000000
mean   19.666667  29.255556
std     7.193747  18.764535
min    12.000000   3.300000
25%    15.000000  20.000000
50%    16.000000  23.500000
75%    23.000000  44.300000
max    34.000000  56.000000

In [52]:
#Column describe

print(df.describe(include=['object']))

       NAME
count     9
unique    9
top     ali
freq      1

In [53]:
print(df.describe(include='all'))

       NAME        AGE     RATING
count     9   9.000000   9.000000
unique    9        NaN        NaN
top     ali        NaN        NaN
freq      1        NaN        NaN
mean    NaN  19.666667  29.255556
std     NaN   7.193747  18.764535
min     NaN  12.000000   3.300000
25%     NaN  15.000000  20.000000
50%     NaN  16.000000  23.500000
75%     NaN  23.000000  44.300000
max     NaN  34.000000  56.000000

# Function application

*pipe(): to add in complete data. apply(): add column or row wise. applymap(): add element wise.*

In [54]:
#pipe()

def adder(x,y):
    return x+y
df = pd.DataFrame(np.linspace(0,1,15).reshape(5,3),columns=['col1','col2','col3'])
df.pipe(adder,2)
print(df.pipe(adder,2))

       col1      col2      col3
0  2.000000  2.071429  2.142857
1  2.214286  2.285714  2.357143
2  2.428571  2.500000  2.571429
3  2.642857  2.714286  2.785714
4  2.857143  2.928571  3.000000

In [55]:
#apply

df.apply(np.mean,axis=1)
print(df.apply(np.mean))

col1    0.428571
col2    0.500000
col3    0.571429
dtype: float64

In [56]:
#map()

r=df['col1'].map(lambda x:x*100)
print(r)

0     0.000000
1    21.428571
2    42.857143
3    64.285714
4    85.714286
Name: col1, dtype: float64

# Pandas Reindexing and iteration

**Reindexing**

In [57]:
d = {'NAME':['ali','umer','usman','ahmad','hassan','adil','arslan','hazma','zain'],
    'AGE':[12,34,13,15,16,23,26,22,16],'RATING':[22.3,44.2,3.3,44.3,44.5,5.2,23.5,20,56]}
df = pd.DataFrame(d,index=['A','B','C','D','E','F','G','H','I'])
print(df)

     NAME  AGE  RATING
A     ali   12    22.3
B    umer   34    44.2
C   usman   13     3.3
D   ahmad   15    44.3
E  hassan   16    44.5
F    adil   23     5.2
G  arslan   26    23.5
H   hazma   22    20.0
I    zain   16    56.0

In [58]:
df_reind = df.reindex(['C','D','A'])
print(df_reind)

    NAME  AGE  RATING
C  usman   13     3.3
D  ahmad   15    44.3
A    ali   12    22.3

In [59]:
#aline with others

df1 = df
df1 = df1.reindex_like(df_reind)
print(df1)

    NAME  AGE  RATING
C  usman   13     3.3
D  ahmad   15    44.3
A    ali   12    22.3

In [60]:
col2 = df.iloc[:,1:]
print(col2)

   AGE  RATING
A   12    22.3
B   34    44.2
C   13     3.3
D   15    44.3
E   16    44.5
F   23     5.2
G   26    23.5
H   22    20.0
I   16    56.0

In [61]:
col_re = col2.reindex(['C','D','A','B'])
print(col_re)

   AGE  RATING
C   13     3.3
D   15    44.3
A   12    22.3
B   34    44.2

In [62]:
#filling while reindexing

d = {'NAME':['ali','umer','usman','ahmad','hassan','adil','arslan','hazma','zain'],
    'AGE':[12,34,13,15,16,23,26,22,16],'RATING':[22.3,44.2,3.3,44.3,44.5,5.2,23.5,20,56]}
df = pd.DataFrame(d)

re = df.reindex([0,1,2,3])
print(re.reindex_like(df,method='ffill'))

    NAME  AGE  RATING
0    ali   12    22.3
1   umer   34    44.2
2  usman   13     3.3
3  ahmad   15    44.3
4  ahmad   15    44.3
5  ahmad   15    44.3
6  ahmad   15    44.3
7  ahmad   15    44.3
8  ahmad   15    44.3

In [63]:
#limit

print(re.reindex_like(df,method='ffill',limit=2))

    NAME   AGE  RATING
0    ali  12.0    22.3
1   umer  34.0    44.2
2  usman  13.0     3.3
3  ahmad  15.0    44.3
4  ahmad  15.0    44.3
5  ahmad  15.0    44.3
6    NaN   NaN     NaN
7    NaN   NaN     NaN
8    NaN   NaN     NaN

In [64]:
# remane

print(df.rename(columns={'NAME':'col1','AGE':'col2'},index={0:'A',2:'B'}))

     col1  col2  RATING
A     ali    12    22.3
1    umer    34    44.2
B   usman    13     3.3
3   ahmad    15    44.3
4  hassan    16    44.5
5    adil    23     5.2
6  arslan    26    23.5
7   hazma    22    20.0
8    zain    16    56.0

**Iteration a dataframe**

In [65]:
print(df)

     NAME  AGE  RATING
0     ali   12    22.3
1    umer   34    44.2
2   usman   13     3.3
3   ahmad   15    44.3
4  hassan   16    44.5
5    adil   23     5.2
6  arslan   26    23.5
7   hazma   22    20.0
8    zain   16    56.0

In [66]:
for col in df:
    print(col)

NAME
AGE
RATING

In [67]:
#iteritems

for col in df.iteritems():
    print(col)

('NAME', 0       ali
1      umer
2     usman
3     ahmad
4    hassan
5      adil
6    arslan
7     hazma
8      zain
Name: NAME, dtype: object)
('AGE', 0    12
1    34
2    13
3    15
4    16
5    23
6    26
7    22
8    16
Name: AGE, dtype: int64)
('RATING', 0    22.3
1    44.2
2     3.3
3    44.3
4    44.5
5     5.2
6    23.5
7    20.0
8    56.0
Name: RATING, dtype: float64)

In [68]:
#iterrows

for row,row_index in df.iterrows():
    print(row,row_index)

0 NAME       ali
AGE         12
RATING    22.3
Name: 0, dtype: object
1 NAME      umer
AGE         34
RATING    44.2
Name: 1, dtype: object
2 NAME      usman
AGE          13
RATING      3.3
Name: 2, dtype: object
3 NAME      ahmad
AGE          15
RATING     44.3
Name: 3, dtype: object
4 NAME      hassan
AGE           16
RATING      44.5
Name: 4, dtype: object
5 NAME      adil
AGE         23
RATING     5.2
Name: 5, dtype: object
6 NAME      arslan
AGE           26
RATING      23.5
Name: 6, dtype: object
7 NAME      hazma
AGE          22
RATING     20.0
Name: 7, dtype: object
8 NAME      zain
AGE         16
RATING    56.0
Name: 8, dtype: object

In [69]:
#itertuples

for i in df.itertuples():
    print(i)

Pandas(Index=0, NAME='ali', AGE=12, RATING=22.3)
Pandas(Index=1, NAME='umer', AGE=34, RATING=44.2)
Pandas(Index=2, NAME='usman', AGE=13, RATING=3.3)
Pandas(Index=3, NAME='ahmad', AGE=15, RATING=44.3)
Pandas(Index=4, NAME='hassan', AGE=16, RATING=44.5)
Pandas(Index=5, NAME='adil', AGE=23, RATING=5.2)
Pandas(Index=6, NAME='arslan', AGE=26, RATING=23.5)
Pandas(Index=7, NAME='hazma', AGE=22, RATING=20.0)
Pandas(Index=8, NAME='zain', AGE=16, RATING=56.0)

# pandas sorting

In [70]:
df = pd.DataFrame(np.random.rand(10,2),index=[1,4,8,2,5,9,3,7,0,6],columns=['col2','col1'])
print(df)

       col2      col1
1  0.526404  0.233675
4  0.403605  0.447219
8  0.086198  0.715939
2  0.742804  0.580109
5  0.606230  0.127653
9  0.116861  0.412436
3  0.118984  0.229349
7  0.044095  0.093569
0  0.065018  0.987020
6  0.840915  0.848999

**By label**

In [71]:
#sort_index(),by default ascending

print(df.sort_index())

       col2      col1
0  0.065018  0.987020
1  0.526404  0.233675
2  0.742804  0.580109
3  0.118984  0.229349
4  0.403605  0.447219
5  0.606230  0.127653
6  0.840915  0.848999
7  0.044095  0.093569
8  0.086198  0.715939
9  0.116861  0.412436

In [72]:
#order of sorting

print(df.sort_index(ascending=False))

       col2      col1
9  0.116861  0.412436
8  0.086198  0.715939
7  0.044095  0.093569
6  0.840915  0.848999
5  0.606230  0.127653
4  0.403605  0.447219
3  0.118984  0.229349
2  0.742804  0.580109
1  0.526404  0.233675
0  0.065018  0.987020

In [73]:
#sort the columns

print(df.sort_index(axis=1)) #bydefault it is 0 as for rows

       col1      col2
1  0.233675  0.526404
4  0.447219  0.403605
8  0.715939  0.086198
2  0.580109  0.742804
5  0.127653  0.606230
9  0.412436  0.116861
3  0.229349  0.118984
7  0.093569  0.044095
0  0.987020  0.065018
6  0.848999  0.840915

**By value**

In [74]:
print(df.sort_values(by='col1'))

       col2      col1
7  0.044095  0.093569
5  0.606230  0.127653
3  0.118984  0.229349
1  0.526404  0.233675
9  0.116861  0.412436
4  0.403605  0.447219
2  0.742804  0.580109
8  0.086198  0.715939
6  0.840915  0.848999
0  0.065018  0.987020

# Working with text Data

**1st on Series**

In [75]:
s = pd.Series(['TOM','JERRY','MOTTO','PATLO','albert@','1224','np.nan','UMER'])
print(s)

0        TOM
1      JERRY
2      MOTTO
3      PATLO
4    albert@
5       1224
6     np.nan
7       UMER
dtype: object

In [76]:
#lower()

print(s.str.lower())

0        tom
1      jerry
2      motto
3      patlo
4    albert@
5       1224
6     np.nan
7       umer
dtype: object

In [77]:
#upper()

print(s.str.upper())

0        TOM
1      JERRY
2      MOTTO
3      PATLO
4    ALBERT@
5       1224
6     NP.NAN
7       UMER
dtype: object

In [78]:
#strip()

print(s.str.strip())

0        TOM
1      JERRY
2      MOTTO
3      PATLO
4    albert@
5       1224
6     np.nan
7       UMER
dtype: object

In [79]:
#split(pattern)

print(s.str.split(''))

0                [, T, O, M, ]
1          [, J, E, R, R, Y, ]
2          [, M, O, T, T, O, ]
3          [, P, A, T, L, O, ]
4    [, a, l, b, e, r, t, @, ]
5             [, 1, 2, 2, 4, ]
6       [, n, p, ., n, a, n, ]
7             [, U, M, E, R, ]
dtype: object

In [80]:
#cat(sep=)

print(s.str.cat(sep='_'))

TOM_JERRY_MOTTO_PATLO_albert@_1224_np.nan_UMER

In [81]:
#get_dummies()

print(s.str.get_dummies())

   1224  JERRY  MOTTO  PATLO  TOM  UMER  albert@  np.nan
0     0      0      0      0    1     0        0       0
1     0      1      0      0    0     0        0       0
2     0      0      1      0    0     0        0       0
3     0      0      0      1    0     0        0       0
4     0      0      0      0    0     0        1       0
5     1      0      0      0    0     0        0       0
6     0      0      0      0    0     0        0       1
7     0      0      0      0    0     1        0       0

In [82]:
#contains()

print(s.str.contains(''))

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
dtype: bool

In [83]:
#replace(a,b)

print(s.str.replace('1224','1122'))

0        TOM
1      JERRY
2      MOTTO
3      PATLO
4    albert@
5       1122
6     np.nan
7       UMER
dtype: object

In [84]:
#repeat()

print(s.str.repeat(3))

0                TOMTOMTOM
1          JERRYJERRYJERRY
2          MOTTOMOTTOMOTTO
3          PATLOPATLOPATLO
4    albert@albert@albert@
5             122412241224
6       np.nannp.nannp.nan
7             UMERUMERUMER
dtype: object

In [85]:
#count()

print(s.str.count('M'))

0    1
1    0
2    1
3    0
4    0
5    0
6    0
7    1
dtype: int64

In [86]:
#startswith()

print(s.str.startswith('U'))

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7     True
dtype: bool

In [87]:
#endswith()

print(s.str.endswith('Y'))

0    False
1     True
2    False
3    False
4    False
5    False
6    False
7    False
dtype: bool

In [88]:
#find(pattern) tells the position of pattern

print(s.str.find('R'))

0   -1
1    2
2   -1
3   -1
4   -1
5   -1
6   -1
7    3
dtype: int64

-1 means no value exists*

In [89]:
#findall()

print(s.str.findall('R'))

0        []
1    [R, R]
2        []
3        []
4        []
5        []
6        []
7       [R]
dtype: object

In [90]:
#swapcase() turns upper into lower and lower into upper

print(s.str.swapcase())

0        tom
1      jerry
2      motto
3      patlo
4    ALBERT@
5       1224
6     NP.NAN
7       umer
dtype: object

In [91]:
#islower()

print(s.str.islower())

0    False
1    False
2    False
3    False
4     True
5    False
6     True
7    False
dtype: bool

In [92]:
#isupper()

print(s.str.isupper())

0     True
1     True
2     True
3     True
4    False
5    False
6    False
7     True
dtype: bool

In [93]:
#isnumeric()

print(s.str.isnumeric())

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
dtype: bool

# Indexing and selecting data

**loc[]**

In [94]:
df = pd.DataFrame(np.random.rand(8,4),columns=['A','B','C','D'])
print(df)

          A         B         C         D
0  0.407228  0.517575  0.202713  0.406641
1  0.122573  0.193644  0.203884  0.955626
2  0.816967  0.943325  0.866222  0.459511
3  0.144559  0.110889  0.119359  0.499043
4  0.048110  0.766280  0.657674  0.174316
5  0.807590  0.595556  0.670722  0.865259
6  0.758373  0.196725  0.344205  0.234892
7  0.587579  0.657213  0.858764  0.693128

In [95]:
#all row asn selected col . loc[] accept labels

print(df.loc[:,['A','C']])

          A         C
0  0.407228  0.202713
1  0.122573  0.203884
2  0.816967  0.866222
3  0.144559  0.119359
4  0.048110  0.657674
5  0.807590  0.670722
6  0.758373  0.344205
7  0.587579  0.858764

In [96]:
#selected rows 

print(df.loc[0:4,:])

          A         B         C         D
0  0.407228  0.517575  0.202713  0.406641
1  0.122573  0.193644  0.203884  0.955626
2  0.816967  0.943325  0.866222  0.459511
3  0.144559  0.110889  0.119359  0.499043
4  0.048110  0.766280  0.657674  0.174316

In [97]:
#selected rows and col

print(df.loc[[0,4,6],['A','D']])

          A         D
0  0.407228  0.406641
4  0.048110  0.174316
6  0.758373  0.234892

**iloc[]**

In [98]:
print(df)

          A         B         C         D
0  0.407228  0.517575  0.202713  0.406641
1  0.122573  0.193644  0.203884  0.955626
2  0.816967  0.943325  0.866222  0.459511
3  0.144559  0.110889  0.119359  0.499043
4  0.048110  0.766280  0.657674  0.174316
5  0.807590  0.595556  0.670722  0.865259
6  0.758373  0.196725  0.344205  0.234892
7  0.587579  0.657213  0.858764  0.693128

In [99]:
print(df.iloc[:3])

          A         B         C         D
0  0.407228  0.517575  0.202713  0.406641
1  0.122573  0.193644  0.203884  0.955626
2  0.816967  0.943325  0.866222  0.459511

In [100]:
print(df.iloc[0:3,2:4])

          C         D
0  0.202713  0.406641
1  0.203884  0.955626
2  0.866222  0.459511

In [101]:
print(df.iloc[:,1:3])

          B         C
0  0.517575  0.202713
1  0.193644  0.203884
2  0.943325  0.866222
3  0.110889  0.119359
4  0.766280  0.657674
5  0.595556  0.670722
6  0.196725  0.344205
7  0.657213  0.858764

In [102]:
print(df.iloc[0:4,:])

          A         B         C         D
0  0.407228  0.517575  0.202713  0.406641
1  0.122573  0.193644  0.203884  0.955626
2  0.816967  0.943325  0.866222  0.459511
3  0.144559  0.110889  0.119359  0.499043

In [103]:
#using []

print(df['B'])

0    0.517575
1    0.193644
2    0.943325
3    0.110889
4    0.766280
5    0.595556
6    0.196725
7    0.657213
Name: B, dtype: float64

In [104]:
#Attribute access. only one 

print(df.D)

0    0.406641
1    0.955626
2    0.459511
3    0.499043
4    0.174316
5    0.865259
6    0.234892
7    0.693128
Name: D, dtype: float64

In [105]:
print(df.[A,C])

SyntaxError: invalid syntax (1112120852.py, line 1)

# Statistical Functions

In [ ]:
#pct_change()

s = pd.Series([1,2,3,4,5,3])
print(s.pct_change())

df = pd.DataFrame(np.random.rand(5,2),columns=['a','b'])
print(df.pct_change())

In [ ]:
#covariance
#series

s1 = pd.Series(np.random.rand(10))
print('s1:     ',s1)
s2 = pd.Series(np.random.rand(10))
print('s2:     ',s2)
print('\n')
print(s1.cov(s2))

In [ ]:
#dataframe

print(df.a.cov(df.b))
print('\n')
print(df.cov())

In [ ]:
#correlation

print(df.a.corr(df.b))
print('\n')
print(df.corr())

In [ ]:
s = pd.Series(np.random.rand(10),index=list('abcdefghij'))
s.a = s.c = s.e
print(s.rank())

**Window Function**

In [ ]:
#rolling()

df = pd.DataFrame(np.random.rand(10,4),index=pd.date_range('1/1/2000',periods=10),columns=list('ABCD'))
print(df.rolling(window=4).mean())

In [ ]:
#expanding

print(df.expanding(min_periods=4).mean())

In [ ]:
#ewm()

print(df.ewm(com=0.5).mean())

# Aggregation

In [ ]:
#Aggregation on whole df

print(df.aggregate(np.sum))

In [ ]:
# columns

print(df.A.aggregate(np.sum))

In [ ]:
#multiple cols

print(df[['A','D']].aggregate(np.sum))

In [ ]:
#multiple functions

print(df.aggregate([np.sum,np.min]))

In [ ]:
#multiple functions on selected cols

print(df[['A','B']].aggregate([np.sum,np.min]))

In [ ]:
#different fun on diff cols

print(df.aggregate({'A': np.sum,'B': np.max}))

# Missing Data

In [ ]:
#df

df = pd.DataFrame(np.random.rand(5,4),columns=list('ABCD'),index=list('aikge'))
print(df)

In [ ]:
#adding missing values

re_ind = df.reindex(list('abcdefghijk'))
print(re_ind)

In [ ]:
#cheaking for missing data

re_ind.isnull()

In [ ]:
#calculating the missing 

re_ind.isnull().sum()

In [ ]:
re_ind.C.isnull().sum()

**cleaning / filling missings**

In [ ]:
#fill with zeros

print(re_ind.fillna(0))

In [ ]:
# fill with forward valus

print(re_ind.fillna(method='pad'))

In [ ]:
#fill with  backward value

print(re_ind.fillna(method='backfill'))

In [ ]:
#droping missings rows

print(re_ind.dropna())

In [ ]:
#drop missing cols

print(re_ind.dropna(axis=1))

# Pandas groupBy

In [ ]:
#df

df = pd.DataFrame({'Team': ['zalmi','united','LQ','QQ','MS','Royals','zalmi','united','MS'],
                  'rank':[1,2,4,1,3,4,3,2,1],
                  'Year':[2000,2001,2002,2003,2004,2005,2006,2007,2008],
                  'Points':[122,456,223,556,776,1123,555,789,987]})
print(df)

In [ ]:
#spliting data into groups

print(df.groupby('Team'))

In [ ]:
#view group

print(df.groupby('Team').groups)

In [ ]:
#groupby with multi cols

print(df.groupby(['Team','Year']).groups)

In [ ]:
#iteration through group

g = df.groupby('rank')
for i,j in g:
    print(i)
    print(j)
    print('\n')

In [ ]:
#select a group

print(g.get_group(4))

**Aggregation**

In [ ]:
# aggregation

print(g.Points.agg(np.mean))

In [ ]:
#multiple aggregation at oncs

print(g.Points.agg([np.mean,np.min,np.sum]))

**Transformation**

In [ ]:
score = lambda x: (x - x.mean())/x.std()*10
print(g.transform(score))

**Filteration**

In [ ]:
print(g.filter(lambda x :len(x) >= 3))

# Merging/Joining

In [ ]:
#df

left = pd.DataFrame({'id':list('12345'),
                    "sub_id": ['sub1','sub2','sub3','sub4','sub5'] ,
                    'name':['ali','ahmad','umer','usman','adil']})
right = pd.DataFrame({'id': list('12345'),
                    "sub_id": ['sub6','sub4','sub3','sub8','sub5'] ,
                    'name':['rom','shan','arsal','zain','hamza']})
print(left)
print('\n')
print(right)

In [ ]:
#merge on key 

print(pd.merge(left,right,on='id'))

In [ ]:
#merge on multy keys 

print(pd.merge(left,right,on=['id','sub_id']))

**Merge uing how argument**

In [ ]:
#Left join

print(pd.merge(left,right,on='sub_id',how='left'))

In [ ]:
#right join

print(pd.merge(left,right,on='sub_id',how='right'))

In [ ]:
#outer join

print(pd.merge(left,right,on='sub_id',how='outer'))

In [ ]:
#inner join

print(pd.merge(left,right,on='sub_id',how='inner'))